*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
header{
    width: 100%;
    padding: 32px 72px;
    margin-top: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
header .logo{
    font-size: 20px;
    color: #f6f5f5;
    font-weight: 900;
}

header .btn{
    background-color: #1c1c1c;
    color: #f6f5f5;
    border: 1px solid transparent;
    padding: 8px 24px;
    border-radius: 32px;
    text-transform: uppercase;
    font-size: 16px;
    transition: border 0.1s ease-in-out, color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
header .btn:hover{
    border: 1px solid #1c1c1c;
    background-color: transparent;
    color: #1c1c1c;
    cursor: pointer;
}
nav{
    display: flex;
    position: fixed;
    z-index: 999;
    top: 40%;
    right: 3%;
}
#nav--container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    margin: 42px;
}
.nav--item{
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}
.nav--item a{
    text-decoration: none;
    color:#d2d2d2;
    transition: color 0.4s ease-in-out;
}
.active a,
.nav--item:hover a{
    color: #1c1c1c;
}
#hero{
    max-height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}
.hero-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero-banner img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* object-position: center top; */
}
.text--box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 88px;
    left: 40%;
}
.hero--text{
    width: 240px;
    font-size: 0.8rem;
    font-weight: 300;
    color: #d2d2d2;
}

.circle{
    /* background-color: red; */
    height: 800px;
    width: 800px;
    border-radius: 50%;
    position: relative;
    left: 40%;
    top: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner--text{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #1c1c1c;
}

@keyframes round{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}

.banner-text-box{
    height: 100%;
    width: 100%;
    
    position: absolute;
    /* left: 50%; */
    animation: 10s linear infinite round;
    /* background-color: blue; */
}
.banner-text-box span{
    position: absolute;
    left: 50%;
    transform-origin: 0 400px;

}

#scroll{
    height: 100px;
    width: 100px;
    background-color: rgb(241, 23, 23);
    border-radius: 50%;
    position: fixed;
    right: 104px;
    bottom: 80px;
}

.scroll--text{
    color: #f6f5f5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

section#about,section#catalogue{
    height: 80vh;
    width: 100%;
    background-color: #0a0a0a;
    position: relative; 
    top: 0;
    left: 0;
}



.text{
    color: #d2d2d2;
    padding: 88px 80px 0;
    width: 504px;
}

.text h1{
    font-size: 40px;
    font-weight: 500;
    margin: 36px 0;
    text-transform: uppercase;
}
.text p{
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.44px;
}

#about .image--container1{
    height: 320px;
    width: 400px;
    background-color: #f4f4f4;
    position: absolute;
    top: 20%;
    left: 50%;
    
}
#about .image--container2{
    height: 240px;
    width: 400px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0%;
    left: 24px;
}
#catalogue, section#search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10%;
}

#catalogue .img--container{
    height: 100vh;
    width: 30%;
    margin-top: 49px;
    z-index: 100;
}
.img--container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

section#search{
    height: 80vh;
    width: 100%;
    background-color: #f4f4f4;
    position: relative; 
    top: 0;
    left: 0;
}

#search .text{
    color: #1c1c1c;
    padding: 88px 80px 0;
    width: 504px;
}

#search .img--container{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    overflow: hidden;
}